In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns=None

In [2]:
from Scripts import *
print(DATA_HOME)

E:\Msc\LabTest\stockAnalysis\datab

In [3]:
apollohosp_indicators = pd.read_csv(DATA_HOME+'\\apollohosp\\apollohosp_merged.csv')
apollohosp_indicators.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,PrevYear,Revenue,Other Income,Total Income,Expenditure,Operating Profit,Interest,PBDT,Depreciation,PBT,Tax,Net Profit,EPS (Rs),RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,883.999390,NaN,NaN,NaN,NaN
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,883.647217,NaN,NaN,NaN,NaN
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,884.339527,NaN,NaN,NaN,NaN
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,883.401779,NaN,NaN,NaN,NaN
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,882.289559,NaN,NaN,NaN,NaN

In [4]:
apollohosp_fibonacci = pd.read_csv(DATA_HOME+'\\apollohosp\\apollohosp_fibonacci.csv')
apollohosp_fibonacci.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,SwingHigh,SwingLow,Trend,AdjSwingHigh,AdjSwingLow,level_0,level_38,level_50,level_61,level_78,level_100,level_127,level_161,level_261,val,diff,FibonacciLevels
0,0,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,871.167358,0.0,882.256099
1,1,2014-03-05,874.411628,883.999227,874.411628,878.818054,161162,0.0,0,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,878.818054,0.0,883.999227
2,2,2014-03-06,879.834958,885.064601,867.874650,870.005188,117509,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,885.064601,0.0,885.064601
3,3,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,879.350747,0.0,879.350747
4,4,2014-03-10,860.950298,861.289231,837.707545,844.874084,141440,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,861.289231,0.0,861.289231

In [5]:
apollohosp_master = apollohosp_indicators.merge(apollohosp_fibonacci,left_on='Date',right_on='Date',how='inner', suffixes=('','_fib'))
apollohosp_master.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,PrevYear,Revenue,Other Income,Total Income,Expenditure,Operating Profit,Interest,PBDT,Depreciation,PBT,Tax,Net Profit,EPS (Rs),RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband,Unnamed: 0,Open_fib,High_fib,Low_fib,Close_fib,Volume_fib,Dividends_fib,Stock Splits_fib,SwingHigh,SwingLow,Trend,AdjSwingHigh,AdjSwingLow,level_0,level_38,level_50,level_61,level_78,level_100,level_127,level_161,level_261,val,diff,FibonacciLevels
0,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,882.289559,NaN,NaN,NaN,NaN,0,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,871.167358,0.0,882.256099
1,2014-03-05,874.411689,883.999288,874.411689,878.818115,161162,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,881.973973,NaN,NaN,NaN,NaN,1,874.411628,883.999227,874.411628,878.818054,161162,0.0,0,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,878.818054,0.0,883.999227
2,2014-03-06,879.835020,885.064663,867.874711,870.005249,117509,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,880.885907,NaN,NaN,NaN,NaN,2,879.834958,885.064601,867.874650,870.005188,117509,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,885.064601,0.0,885.064601
3,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,NaN,NaN,NaN,878.910700,NaN,NaN,NaN,NaN,3,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,879.350747,0.0,879.350747
4,2014-03-10,860.950236,861.289169,837.707485,844.874023,141440,0.0,0,2014,1182.53,25.8,1208.33,1023.04,997.0,21.67,68.61,38.64,124.98,29.97,95.01,6.83,0.0,-2.775289,868.391374,NaN,NaN,875.816457,NaN,NaN,NaN,NaN,4,860.950298,861.289231,837.707545,844.874084,141440,0.0,0,885.064601,825.214515,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,861.289231,0.0,861.289231

In [6]:
apollohosp_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   1933 non-null   object
 1   Open                   1933 non-null   float64
 2   High                   1933 non-null   float64
 3   Low                    1933 non-null   float64
 4   Close                  1933 non-null   float64
 5   Volume                 1933 non-null   int64
 6   Dividends              1933 non-null   float64
 7   Stock Splits           1933 non-null   int64
 8   PrevYear               1933 non-null   int64
 9   Revenue                1933 non-null   float64
 10  Other Income           1933 non-null   float64
 11  Total Income           1933 non-null   float64
 12  Expenditure            1933 non-null   float64
 13  Operating Profit       1933 non-null   float64
 14  Interest               1933 non-null   float64
 15  PBDT                   1933 non-null   float64
 16  Depreciation           1933 non-null   float64
 17  PBT                    1933 non-null   float64
 18  Tax                    1933 non-null   float64
 19  Net Profit             1933 non-null   float64
 20  EPS (Rs)               1933 non-null   float64
 21  RSI                    1933 non-null   float64
 22  stockRSI               1933 non-null   float64
 23  macd_strength          1925 non-null   float64
 24  macd                   1908 non-null   float64
 25  macd_h                 1908 non-null   float64
 26  ema                    1933 non-null   float64
 27  CI                     1907 non-null   float64
 28  Bollinger_centralBand  1920 non-null   float64
 29  Bollinger_upperBand    1920 non-null   float64
 30  Bollinger_lowerband    1920 non-null   float64
dtypes: float64(27), int64(3), object(1)
memory usage: 468.3+ KB

In [7]:
apollohosp_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1929 entries, 0 to 1928
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   1929 non-null   object
 1   Open                   1929 non-null   float64
 2   High                   1929 non-null   float64
 3   Low                    1929 non-null   float64
 4   Close                  1929 non-null   float64
 5   Volume                 1929 non-null   int64
 6   Dividends              1929 non-null   float64
 7   Stock Splits           1929 non-null   int64
 8   PrevYear               1929 non-null   int64
 9   Revenue                1929 non-null   float64
 10  Other Income           1929 non-null   float64
 11  Total Income           1929 non-null   float64
 12  Expenditure            1929 non-null   float64
 13  Operating Profit       1929 non-null   float64
 14  Interest               1929 non-null   float64
 15  PBDT                   1929 non-null   float64
 16  Depreciation           1929 non-null   float64
 17  PBT                    1929 non-null   float64
 18  Tax                    1929 non-null   float64
 19  Net Profit             1929 non-null   float64
 20  EPS (Rs)               1929 non-null   float64
 21  RSI                    1929 non-null   float64
 22  stockRSI               1929 non-null   float64
 23  macd_strength          1925 non-null   float64
 24  macd                   1908 non-null   float64
 25  macd_h                 1908 non-null   float64
 26  ema                    1929 non-null   float64
 27  CI                     1907 non-null   float64
 28  Bollinger_centralBand  1920 non-null   float64
 29  Bollinger_upperBand    1920 non-null   float64
 30  Bollinger_lowerband    1920 non-null   float64
 31  Unnamed: 0             1929 non-null   int64
 32  Open_fib               1929 non-null   float64
 33  High_fib               1929 non-null   float64
 34  Low_fib                1929 non-null   float64
 35  Close_fib              1929 non-null   float64
 36  Volume_fib             1929 non-null   int64
 37  Dividends_fib          1929 non-null   float64
 38  Stock Splits_fib       1929 non-null   int64
 39  SwingHigh              1929 non-null   float64
 40  SwingLow               1929 non-null   float64
 41  Trend                  1929 non-null   int64
 42  AdjSwingHigh           1929 non-null   float64
 43  AdjSwingLow            1929 non-null   float64
 44  level_0                1929 non-null   float64
 45  level_38               1929 non-null   float64
 46  level_50               1929 non-null   float64
 47  level_61               1929 non-null   float64
 48  level_78               1929 non-null   float64
 49  level_100              1929 non-null   float64
 50  level_127              1929 non-null   float64
 51  level_161              1929 non-null   float64
 52  level_261              1929 non-null   float64
 53  val                    1929 non-null   float64
 54  diff                   1929 non-null   float64
 55  FibonacciLevels        1929 non-null   float64
dtypes: float64(48), int64(7), object(1)
memory usage: 859.0+ KB

In [8]:
apollohosp_master.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'PrevYear', 'Revenue', 'Other Income', 'Total Income',
       'Expenditure', 'Operating Profit', 'Interest', 'PBDT', 'Depreciation',
       'PBT', 'Tax', 'Net Profit', 'EPS (Rs)', 'RSI', 'stockRSI',
       'macd_strength', 'macd', 'macd_h', 'ema', 'CI', 'Bollinger_centralBand',
       'Bollinger_upperBand', 'Bollinger_lowerband', 'Unnamed: 0', 'Open_fib',
       'High_fib', 'Low_fib', 'Close_fib', 'Volume_fib', 'Dividends_fib',
       'Stock Splits_fib', 'SwingHigh', 'SwingLow', 'Trend', 'AdjSwingHigh',
       'AdjSwingLow', 'level_0', 'level_38', 'level_50', 'level_61',
       'level_78', 'level_100', 'level_127', 'level_161', 'level_261', 'val',
       'diff', 'FibonacciLevels'],
      dtype='object')

In [9]:
def adjust_Targets(datadf):
    length = len(datadf)
    datadf['LeadingClose']=np.nan
    datadf['LeadingFibonacciLevel']=np.nan
    for i in range(length-1):    
        datadf['LeadingClose'][i] = datadf['Close'][i+1]
        datadf['LeadingFibonacciLevel'][i] = datadf['FibonacciLevels'][i+1]
    return datadf
apollohosp_master=adjust_Targets(apollohosp_master)

In [10]:
apollohosp_master['Date'] = pd.to_datetime(apollohosp_master['Date'],format='%Y-%m-%d')
apollohosp_master =apollohosp_master.set_index('Date')

In [11]:
apollohosp_master=apollohosp_master.loc['2016-01-01':'2021-11-30']
print(apollohosp_master.index.min(),apollohosp_master.index.max())

2016-01-01 00:00:00 2021-11-30 00:00:00

In [12]:
apollohosp_master.to_csv(DATA_HOME+'\\apollohosp\\apollohosp_master_fullbkp.csv')

In [13]:
drop_cols=[ 'Open', 'High', 'Low', 'Dividends','Stock Splits',  'PrevYear',
           'Unnamed: 0', 'Open_fib', 'High_fib', 'Low_fib', 'Close_fib', 'Volume_fib', 'Dividends_fib',
           'Stock Splits_fib', 'SwingHigh', 'SwingLow', 'Trend', 'AdjSwingHigh', 
           'AdjSwingLow', 'level_0', 'level_38', 'level_50', 'level_61','level_78', 'level_100', 
           'level_127', 'level_161', 'level_261', 'val','diff']
apollohosp_master = apollohosp_master.drop(drop_cols,axis=1)

apollohosp_master.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1459 entries, 2016-01-01 to 2021-11-30
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Close                  1459 non-null   float64
 1   Volume                 1459 non-null   int64
 2   Revenue                1459 non-null   float64
 3   Other Income           1459 non-null   float64
 4   Total Income           1459 non-null   float64
 5   Expenditure            1459 non-null   float64
 6   Operating Profit       1459 non-null   float64
 7   Interest               1459 non-null   float64
 8   PBDT                   1459 non-null   float64
 9   Depreciation           1459 non-null   float64
 10  PBT                    1459 non-null   float64
 11  Tax                    1459 non-null   float64
 12  Net Profit             1459 non-null   float64
 13  EPS (Rs)               1459 non-null   float64
 14  RSI                    1459 non-null   float64
 15  stockRSI               1459 non-null   float64
 16  macd_strength          1459 non-null   float64
 17  macd                   1459 non-null   float64
 18  macd_h                 1459 non-null   float64
 19  ema                    1459 non-null   float64
 20  CI                     1459 non-null   float64
 21  Bollinger_centralBand  1459 non-null   float64
 22  Bollinger_upperBand    1459 non-null   float64
 23  Bollinger_lowerband    1459 non-null   float64
 24  FibonacciLevels        1459 non-null   float64
 25  LeadingClose           1459 non-null   float64
 26  LeadingFibonacciLevel  1459 non-null   float64
dtypes: float64(26), int64(1)
memory usage: 319.2 KB

In [14]:

apollohosp_master.to_csv(DATA_HOME+'\\apollohosp\\apollohosp_master.csv')

In [15]:
dabur_indicators = pd.read_csv(DATA_HOME+'\\dabur\\dabur_merged.csv')
dabur_fibonacci = pd.read_csv(DATA_HOME+'\\dabur\\dabur_fibonacci.csv')

dabur_master = dabur_indicators.merge(dabur_fibonacci,left_on='Date',right_on='Date',how='inner', suffixes=('','_fib'))

dabur_master=adjust_Targets(dabur_master)

dabur_master['Date'] = pd.to_datetime(dabur_master['Date'],format='%Y-%m-%d')
dabur_master =dabur_master.set_index('Date')

dabur_master=dabur_master.loc['2016-01-01':'2021-11-30']
print(dabur_master.index.min(),dabur_master.index.max())

dabur_master.to_csv(DATA_HOME+'\\dabur\\dabur_master_fullbkp.csv')

drop_cols=[ 'Open', 'High', 'Low', 'Dividends','Stock Splits',  'PrevYear',
           'Unnamed: 0', 'Open_fib', 'High_fib', 'Low_fib', 'Close_fib', 'Volume_fib', 'Dividends_fib',
           'Stock Splits_fib', 'SwingHigh', 'SwingLow', 'Trend', 'AdjSwingHigh', 
           'AdjSwingLow', 'level_0', 'level_38', 'level_50', 'level_61','level_78', 'level_100', 
           'level_127', 'level_161', 'level_261', 'val','diff']
dabur_master = dabur_master.drop(drop_cols,axis=1)

#dabur_master.info()
dabur_master.to_csv(DATA_HOME+'\\dabur\\dabur_master.csv')

2016-01-01 00:00:00 2021-11-30 00:00:00

In [16]:
dabur_master.head()

,Close,Volume,Revenue,Other Income,Total Income,Expenditure,Operating Profit,Interest,PBDT,Depreciation,PBT,Tax,Net Profit,EPS (Rs),RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband,FibonacciLevels,LeadingClose,LeadingFibonacciLevel
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-01-01,257.731232,124367,1283.96,75.73,1359.69,1040.87,1120.84,3.92,85.89,18.04,296.86,67.85,229.01,1.3,54.508074,0.413527,4334.907937,16.100488,-4318.807449,4321.740122,59.565059,4337.433384,4381.355988,4293.510781,257.125110,258.197479,262.020530
2016-01-04,258.197479,554107,1283.96,75.73,1359.69,1040.87,1120.84,3.92,85.89,18.04,296.86,67.85,229.01,1.3,48.308730,0.176569,4327.524689,12.228003,-4315.296687,4319.581175,77.614801,4337.691476,4380.553932,4294.829020,262.020530,257.311646,260.621858
2016-01-05,257.311646,629235,1283.96,75.73,1359.69,1040.87,1120.84,3.92,85.89,18.04,296.86,67.85,229.01,1.3,46.946990,0.124519,4319.047193,8.029225,-4311.017968,4316.449905,74.917170,4334.136021,4385.421421,4282.850621,260.621858,257.264954,261.927271
2016-01-06,257.264954,750275,1283.96,75.73,1359.69,1040.87,1120.84,3.92,85.89,18.04,296.86,67.85,229.01,1.3,39.421521,-0.163127,4296.098106,-1.800329,-4297.898435,4306.254619,55.815378,4324.846854,4411.132559,4238.561150,261.927271,249.618912,256.425810
2016-01-07,249.618912,910959,1283.96,75.73,1359.69,1040.87,1120.84,3.92,85.89,18.04,296.86,67.85,229.01,1.3,27.633197,-0.613713,4237.786493,-25.416438,-4263.202931,4278.826021,30.485256,4298.115513,4485.305972,4110.925055,256.425810,250.877655,253.535180

In [17]:
maruti_indicators = pd.read_csv(DATA_HOME+'\\maruti\\maruti_merged.csv')
maruti_fibonacci = pd.read_csv(DATA_HOME+'\\maruti\\maruti_fibonacci.csv')

maruti_master = maruti_indicators.merge(maruti_fibonacci,left_on='Date',right_on='Date',how='inner', suffixes=('','_fib'))

maruti_master=adjust_Targets(maruti_master)

maruti_master['Date'] = pd.to_datetime(maruti_master['Date'],format='%Y-%m-%d')
maruti_master =maruti_master.set_index('Date')

maruti_master=maruti_master.loc['2016-01-01':'2021-11-30']
print(maruti_master.index.min(),maruti_master.index.max())

maruti_master.to_csv(DATA_HOME+'\\maruti\\maruti_master_fullbkp.csv')

drop_cols=[ 'Open', 'High', 'Low', 'Dividends','Stock Splits',  'PrevYear',
           'Unnamed: 0', 'Open_fib', 'High_fib', 'Low_fib', 'Close_fib', 'Volume_fib', 'Dividends_fib',
           'Stock Splits_fib', 'SwingHigh', 'SwingLow', 'Trend', 'AdjSwingHigh', 
           'AdjSwingLow', 'level_0', 'level_38', 'level_50', 'level_61','level_78', 'level_100', 
           'level_127', 'level_161', 'level_261', 'val','diff']
maruti_master = maruti_master.drop(drop_cols,axis=1)
#maruti_master.info()

maruti_master.to_csv(DATA_HOME+'\\maruti\\maruti_master.csv')

2016-01-01 00:00:00 2021-11-30 00:00:00

In [18]:
tcs_indicators = pd.read_csv(DATA_HOME+'\\tcs\\tcs_merged.csv')
tcs_fibonacci = pd.read_csv(DATA_HOME+'\\tcs\\tcs_fibonacci.csv')

tcs_master = tcs_indicators.merge(tcs_fibonacci,left_on='Date',right_on='Date',how='inner', suffixes=('','_fib'))

tcs_master=adjust_Targets(tcs_master)

tcs_master['Date'] = pd.to_datetime(tcs_master['Date'],format='%Y-%m-%d')
tcs_master =tcs_master.set_index('Date')

tcs_master=tcs_master.loc['2016-01-01':'2021-11-30']
print(tcs_master.index.min(),tcs_master.index.max())

tcs_master.to_csv(DATA_HOME+'\\tcs\\tcs_master_fullbkp.csv')

drop_cols=[ 'Open', 'High', 'Low', 'Dividends','Stock Splits',  'PrevYear',
           'Unnamed: 0', 'Open_fib', 'High_fib', 'Low_fib', 'Close_fib', 'Volume_fib', 'Dividends_fib',
           'Stock Splits_fib', 'SwingHigh', 'SwingLow', 'Trend', 'AdjSwingHigh', 
           'AdjSwingLow', 'level_0', 'level_38', 'level_50', 'level_61','level_78', 'level_100', 
           'level_127', 'level_161', 'level_261', 'val','diff']
tcs_master = tcs_master.drop(drop_cols,axis=1)
#tcs_master.info()

tcs_master.to_csv(DATA_HOME+'\\tcs\\tcs_master.csv')

2016-01-01 00:00:00 2021-11-30 00:00:00

In [19]:
tcs_master.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1459 entries, 2016-01-01 to 2021-11-30
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Close                  1459 non-null   float64
 1   Volume                 1459 non-null   int64
 2   Revenue                1459 non-null   float64
 3   Other Income           1459 non-null   float64
 4   Total Income           1459 non-null   float64
 5   Expenditure            1459 non-null   float64
 6   Operating Profit       1459 non-null   float64
 7   Interest               1459 non-null   float64
 8   PBDT                   1459 non-null   float64
 9   Depreciation           1459 non-null   float64
 10  PBT                    1459 non-null   float64
 11  Tax                    1459 non-null   float64
 12  Net Profit             1459 non-null   float64
 13  EPS (Rs)               1459 non-null   float64
 14  RSI                    1459 non-null   float64
 15  stockRSI               1459 non-null   float64
 16  macd_strength          1459 non-null   float64
 17  macd                   1459 non-null   float64
 18  macd_h                 1459 non-null   float64
 19  ema                    1459 non-null   float64
 20  CI                     1459 non-null   float64
 21  Bollinger_centralBand  1459 non-null   float64
 22  Bollinger_upperBand    1459 non-null   float64
 23  Bollinger_lowerband    1459 non-null   float64
 24  FibonacciLevels        1459 non-null   float64
 25  LeadingClose           1459 non-null   float64
 26  LeadingFibonacciLevel  1459 non-null   float64
dtypes: float64(26), int64(1)
memory usage: 319.2 KB