In [1]:
from Scripts import *

In [5]:
def save_file(df,name):
    '''
    This function takes input as dataframe and saves it to correct location in data folder

    df - Dataframe to be saved
    name - Desired (Folder / Filename) path  - No need to add extensions

    Saves file as .csv format
    '''
    SAVE_DIR=DATA_HOME+'\\'+name
    if os.path.isdir(SAVE_DIR)==False:
        os.mkdir(SAVE_DIR)
    df.to_csv(SAVE_DIR+'\\'+name+'.csv')
    print("File "+name+'.csv'+" has been saved at path "+SAVE_DIR )

In [6]:
apollohosp=download_price_history('APOLLOHOSP.NS')
apollohosp.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0
2014-03-05,874.411628,883.999227,874.411628,878.818054,161162,0.0,0
2014-03-06,879.834958,885.064601,867.874650,870.005188,117509,0.0,0
2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0
2014-03-10,860.950298,861.289231,837.707545,844.874084,141440,0.0,0

In [7]:
save_file(apollohosp,'apollohosp')

File apollohosp.csv has been saved at path E:\Msc\LabTest\stockAnalysis\datab\apollohosp

In [8]:
dabur=download_price_history('DABUR.NS')
save_file(dabur,'dabur')

File dabur.csv has been saved at path E:\Msc\LabTest\stockAnalysis\datab\dabur

In [9]:
maruti=download_price_history('MARUTI.NS')
save_file(maruti,'maruti')

File maruti.csv has been saved at path E:\Msc\LabTest\stockAnalysis\datab\maruti

In [10]:
tcs=download_price_history('TCS.NS')
save_file(tcs,'tcs')

File tcs.csv has been saved at path E:\Msc\LabTest\stockAnalysis\datab\tcs